.searchControls {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.searchForm {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}

.searchForm .searchQuery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 56.47px;
}

.searchControls .searchForm button {
  /* height: fit-content;
  padding: 0.94rem;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 1rem;
}

.news {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* --- Layout desktop --- */
.story .storyLink {
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  border: 1px solid var(--light-gray);
  border-radius: 8px;
  background: var(--white);
}

.story .storyLink:hover {
  text-decoration: none;
}

.story .storyLink span {
  color: var(--black);
}

.story .storyLink .storyLinkText {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 500;
}

.story .storyLink:hover:not(:has(button:hover)) .storyLinkText {
  text-decoration: underline;
}

.story button {
  background-color: var(--white);
  color: var(--primary);
  transition: all 0.1s ease;
  color: var(--light-primary);
}

.story button:focus{
  border: 2px solid black;
}

.story button:hover {
  background-color: var(--primary);
  color: var(--white);
}

/* .story {
  
} */

.storyLinkData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.story .storyLinkInfo {
  display: flex;
  gap: 16px;
}

.story .storyLink .storyLinkInfo .label {
  color: var(--gray);
}

/* --- ✔ Responsive para pantallas verticales / móviles --- */
@media (max-width: 600px) {
  .searchControls {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .story {
    padding: 16px 20px;
  }

  .story .storyLink {
    flex-direction: column; /* de horizontal → vertical */
    align-items: flex-start; /* izquierda */
    gap: 16px; /* mayor espacio táctil */
  }

  .story .storyLinkText {
    font-size: 1.15rem;
  }

  .storyLinkInfo {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* si no entra, baja */
    gap: 10px;
    font-size: 0.95rem;
  }

  .storyLinkInfo .label {
    font-size: 0.9rem;
  }
}
